#root directory
/bin
/.idea
/cache
/files
/install
/logs
/media
/templates
/vendor
.htaccess
autoload.php
config.php
eula_en.txt
eula.txt
license.txt
README.md
shopware.php
UPGRADE.md

#engine directory
/engine/core
/engine/Library

#engine Shopware directory
/engine/Shopware/Commands
/engine/Shopware/Components
/engine/Shopware/Configs
/engine/Shopware/Controllers
/engine/Shopware/export
/engine/Shopware/Models
/engine/Shopware/Application.php
/engine/Shopware/Bootstrap.php
/engine/Shopware/Kernel.php

#engine Shopware Plugins directory
/engine/Shopware/Plugins/Community
/engine/Shopware/Plugins/Default

#engine Shopware Plugins Local directory
/engine/Shopware/Plugins/Local/Backend
/engine/Shopware/Plugins/Local/Core

/.settings
/.buildpath
/.project
/boxalino.zip
